*.iml
.DS_Store

.gradle/
.idea/
.android/
.kotlin/
.tmp/

/build/
/app/build/
/captures/
/.externalNativeBuild/
/.cxx/

/local.properties
local.properties

/gradle-user-home/
/gradle-user-home-fresh/
